<li [ngClass]="{'list-group-item mb-3 shadow': true,
                'list-group-item-success': classGreen,
                'list-group-item-danger': classRed }">
<div class="row">
    <div class="col-sm-6">
        <h3 class="pull-left">{{ post.title }}</h3>
    </div>
    <div class="col-sm-6">
        <h4 class="float-right text-muted mt-2 mb-0">
        <small>{{ post.created_at | date:'short' }}</small>
        </h4>
    </div>
</div>
<div class="panel-body">
  {{ post.content }}
</div>
<div>
  <img (click)="LoverIT()" class="glyph-icon-green" src="./assets/like.png" />
  <img (click)="dontLove()" class="glyph-icon-red" src="./assets/dislike.png" />
  <p class="float-right text-muted mt-2 mb-0">{{post.loveIts}} 💖</p>
</div>

</li>
